<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		  http://www.springframework.org/schema/context
 		  http://www.springframework.org/schema/context/spring-context.xsd
 		  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven/>

    <context:component-scan base-package="com.epam.lowcost.controller"/>


    <bean id="userDAO" class="com.epam.lowcost.DAO.UserDAOImpl" c:dataSource-ref="dataSource"/>

    <bean id="userService" class="com.epam.lowcost.service.UserServiceImpl" c:userDAO-ref="userDAO"/>

    <bean id="dateTimeFormatter" class="java.time.format.DateTimeFormatter" factory-method="ofPattern">
        <constructor-arg value="yyyy-MM-dd hh:mm:ss"/>
    </bean>


    <bean id="dataSource" class="com.epam.lowcost.db.DBinitialize" init-method="initiateDB">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:mem:/test;DB_CLOSE_DELAY=-1"/>
        <property name="username" value="ca"/>
        <property name="password" value=""/>
    </bean>


    <bean id="flightDAO" class="com.epam.lowcost.DAO.FlightDAOImpl">
        <constructor-arg ref="idDataSource"/>
        <constructor-arg ref="planeDAO"/>
    </bean>

    <bean id="planeDAO" class="com.epam.lowcost.DAO.PlaneDAOImpl">
        <constructor-arg ref="idDataSource"/>
    </bean>

    <bean id="flightService" class="com.epam.lowcost.service.FlightServiceImpl">
        <constructor-arg ref="flightDAO"/>
    </bean>

    <bean id="planeService" class="com.epam.lowcost.service.PlaneServiceImpl">
        <constructor-arg ref="planeDAO"/>
    </bean>

    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <bean id="idDataSource" class="org.h2.jdbcx.JdbcDataSource">
        <property name="URL" value="jdbc:h2:mem:/test;DB_CLOSE_DELAY=-1"/>
        <property name="user" value="ca"/>
        <property name="password" value=""/>
    </bean>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


</beans>